body { background: url(images/footer.jpg) center 0 fixed; }
.login h1 a {     background: url(images/sprite.png) -4px -4px no-repeat; text-indent: -4004px; width: 167px; height: 66px; transition: opacity .4s; }

.login #login_error, 
.login .message { border: none; }
.login h1 a:hover { text-decoration: none; opacity: 0.75; }
.login #backtoblog a, .login #nav a { color: #fff; }

.wp-core-ui .button-primary { background: #fff; border: 1px solid #fff; border-color: #fff; 
    -webkit-box-shadow: none; 
			box-shadow: none;
}


#loginform { background: none; }
#loginform label { color: #fff; }
#loginform input[type="text"],
#loginform input[type="password"] { padding: 5px 10px; border-radius: 6px; border: 1px solid #fff; width: 100%; }
.login #login #login_error { background: #fff;  color: red; }

.wp-core-ui .button-primary { border: 1px solid #fff; background: #fff; color: #000; text-decoration: none; text-shadow: none; font-weight: bold;  }
.wp-core-ui .button-primary:hover { opacity: 0.8; background: #fff; border: 1px solid #fff; color: #135F7F;
	-webkit-box-shadow: none; 
			box-shadow: none;
}
.wp-core-ui .button-primary:active { opacity: 0.8; background: #fff; border: 1px solid #fff; color: #135F7F;
	-webkit-box-shadow: none; 
			box-shadow: none;
}

.login #login_error { background: #F7F7F7;  }