/* ------------------------------------------------------------ *\
	Inners
\* ------------------------------------------------------------ */

	/*
		- Image
	*/

.inner-image { position: relative; opacity: 1; z-index: 10; }
.inner-image {
	-webkit-transform: translate(0,0) scale(1);
			transform: translate(0,0) scale(1);

	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
			transition: opacity 0.4s, transform 0.4s;
}
.inner-image:before { content: ' '; position: absolute; left: 15px; bottom: 2px; height: 0; z-index: 1; width: 50%; box-shadow: 0 0 4px 6px rgba(0,0,0,0.3); background-color: rgba(0,0,0,0.3); }
.inner-image:after { content: ' '; position: absolute; right: 15px; bottom: 2px; height: 0; z-index: 1; width: 50%; box-shadow: 0 0 4px 6px rgba(0,0,0,0.3); background-color: rgba(0,0,0,0.3); }
.inner-image:before {
	-webkit-transform: rotate(-3deg);
			transform: rotate(-3deg);
}
.inner-image:after {
	-webkit-transform: rotate(3deg);
			transform: rotate(3deg);
}
.inner-image > .inner-group { background-color: #fff; background-color: #fff; position: relative; overflow: hidden; z-index: 10; box-shadow: 0 -2px 5px rgba(109,109,109,0.5); border: none; }
.inner-image > .inner-group > a:not(.inner-hover):not(.btn-arrow) { display: block; position: relative; color: #fff; }
.inner-image > .inner-group > a:not(.inner-hover):not(.btn-arrow) span { position: absolute; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.5); text-align: center; font-size: 16px; line-height: 1.31; font-family: $font-montserrat; font-weight: 400; padding: 12px 20px; }
.inner-image > .inner-group > img { display: block; width: 100%; height: auto; }

.inner-image > .inner-group > img.alignleft,
.inner-image > .inner-group > img.alignright,
.inner-image > .inner-group > img.aligncenter,
.inner-image > .inner-group > img.alignnone { margin: 0; }
.inner-image > .inner-group ul.slides { list-style: none; width: 100%; position: relative; overflow: hidden; height: 347px; }
.inner-image > .inner-group li.slide { float: left; width: 100%; }
.inner-image > .inner-group .slide-image { position: relative; }
.inner-image > .inner-group .slide-image > a { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
.inner-image > .inner-group .slide-image > img { display: block; width: 100%; height: auto; margin: 0; }

.inner-image img ~ br { display: none; }

.inner-image .inner-visible { position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(117,107,89,0.70); box-shadow: inset 0 0 59px rgba(142,142,142,0.56); text-align: center; color: #fff; }
.inner-image .inner-visible h4 { text-transform: uppercase; font-size: 20px; line-height: 1.50; font-weight: 400; font-family: $font-montserrat; }
.inner-image .inner-visible-wrap { position: absolute; left: 15px; right: 15px; top: 50%; }
.inner-image .inner-visible-wrap {
	-webkit-transform: translate(0,-50%);
			transform: translate(0,-50%);
}
.inner-image .inner-hover { position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,0.5); color: #fff; }
.inner-image .inner-hover {
	-webkit-transform: translate(0,100%);
			transform: translate(0,100%);

	-webkit-transition: opacity 0.4s, vibility 0.4s, -webkit-transform 0.4s;
			transition: opacity 0.4s, vibility 0.4s, transform 0.4s;
}
.inner-image .inner-hover:before { content: ' '; position: absolute; right: 10px; top: 10px; background: url(images/sprite.png) no-repeat -180px -5px; width: 20px; height: 20px; }
.inner-image .inner-hover-wrap { position: absolute; left: 10px; right: 10px; top: 50%; font-size: 20px; line-height: 1.60; font-family: $font-montserrat; font-weight: 400; text-align: center; }
.inner-image .inner-hover-wrap {
	-webkit-transform: translate(0,-50%);
			transform: translate(0,-50%);
}
.inner-image:hover .inner-hover {
	-webkit-transform: translate(0,0%);
			transform: translate(0,0%);
}
.inner-image:hover {
	-webkit-transform: scale(1.02);
			transform: scale(1.02);
}

	/*
		- Image Hover
	*/

.inner-image-hover:hover {
	-webkit-transform: none;
			transform: none;
}

	/*
		- Image Ribbon
	*/

.inner-image-ribbon > .inner-group { overflow: visible; }
.inner-image-ribbon > .inner-group > a { display: block; position: relative; }
.inner-image-ribbon > .inner-group > a:before { content: ' '; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,0.75); opacity: 0; }
.inner-image-ribbon > .inner-group > a:before {
	-webkit-transition: opacity 0.4s;
			transition: opacity 0.4s;
}
.inner-image-ribbon > .inner-group > a:after { content: 'Click to view'; position: absolute; left: 0; right: 0; top: 50%; color: $color-white; font-size: 20px; font-weight: 700; text-transform: uppercase; text-align: center; opacity: 0; }
.inner-image-ribbon > .inner-group > a:after {
	-webkit-transform: translate(0,100%);
			transform: translate(0,100%);

	-webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.4s 0.2s;
			transition: opacity 0.4s 0.2s, transform 0.4s 0.2s;
}
.inner-image-ribbon > .inner-group > a:hover:before { opacity: 1; }
.inner-image-ribbon > .inner-group > a:hover:after { opacity: 1; }
.inner-image-ribbon > .inner-group > a:hover:after {
	-webkit-transform: translate(0,-50%);
			transform: translate(0,-50%);
}

	/*
		- Image Secondary
	*/

.inner-image-secondary .inner-visible { background-color: #6b3616; box-shadow: inset 0 0 59px rgba(0,0,0,0.36); }

	/*
		- Image Person
	*/

.inner-image-person .inner-group > a:before { content: ' '; position: absolute; right: 12px; top: 12px; background: url(images/sprite.png) no-repeat -180px -5px; width: 20px; height: 20px; }

	/*
		- Image Small
	*/

.inner-image-small > .inner-group { border-width: 6px; }

	/*
		- Box
	*/

.inner-box { width: 100%; position: relative; color: #fff; margin-bottom: 25px; opacity: 1; }
.inner-box {
	-webkit-transform: translate(0,0) scale(1);
			transform: translate(0,0) scale(1);

	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
			transition: opacity 0.4s, transform 0.4s;
}
.inner-box:last-child { margin-bottom: 0; }
.inner-box:before,
.inner-box:after { content: ' '; position: absolute; left: 50%; width: 1258px; height: 60px; background: url(images/box-primary.png) no-repeat 0 0; z-index: 1; }
.inner-box:before { top: 0; background-position: 0 0; }
.inner-box:after { bottom: 0; background-position: 0 -70px; }
.inner-box > .inner-group { width: 100%; position: relative; padding: 50px 40px 70px 40px; }
.inner-box > .inner-group:before { content: ' '; position: absolute; left: 50%; top: 60px; bottom: 60px; width: 1258px; z-index: 1; background: url(images/box-primary.png) repeat-y -1343px 0; }
.inner-box .inner-group > * { position: relative; z-index: 10; }
.inner-box:before,
.inner-box:after,
.inner-box > .inner-group:before {
	-webkit-transform: translate(-50%,0);
			transform: translate(-50%,0);
}
.inner-box .inner-head { width: 100%; text-align: center; padding-bottom: 25px; position: relative; }
.inner-box .inner-head img { display: block; margin: 0 auto; }
.inner-box .inner-head ul { list-style: none; font-size: 0; line-height: 0; text-align: right; }
.inner-box .inner-head li { display: inline-block; vertical-align: top; font-size: 18px; line-height: 1.39; padding: 0 12px; font-weight: 700; position: relative; color: rgba(255,255,255,0.5); }
.inner-box .inner-head li:first-child { padding-left: 0; }
.inner-box .inner-head li:last-child { padding-right: 0; }
.inner-box .inner-head li ~ li:before { content: ' '; position: absolute; left: 0; top: 4px; bottom: 4px; width: 2px; background-color: #fff; }
.inner-box .inner-head li a { color: #afdcee; }
.inner-box .inner-head h2 { text-transform: uppercase; color: #fff; }
.inner-box .inner-head h2 strong { display: inline-block; vertical-align: top; font-weight: 400; padding: 0; position: relative; }
/* .inner-box .inner-head h2 strong:before,
.inner-box .inner-head h2 strong:after { content: ' '; position: absolute; top: 50%; background: url(images/sprite.png) no-repeat 0 0; width: 92px; height: 40px; opacity: 0.50; }
.inner-box .inner-head h2 strong:before,
.inner-box .inner-head h2 strong:after {
	-webkit-transform: translate(0,-50%);
			transform: translate(0,-50%);
}
.inner-box .inner-head h2 strong:before { left: 0; background-position: -255px -5px; }
.inner-box .inner-head h2 strong:after { right: 0; background-position: -255px -45px; } */
.inner-box .inner-head ~ .inner-head { padding-top: 45px; margin-top: 30px; }
.inner-box .inner-head ~ .inner-head:before { content: ' '; position: absolute; left: 0; right: 0; top: 0; height: 4px; border-top: 1px solid #a99e88; border-bottom: 1px solid #a99e88; }

.inner-box .inner-body { width: 100%; position: relative; }
.inner-box .inner-body:after { content: ' '; display: table; clear: both; }
.inner-box .inner-body-map { width: 323px; position: relative; box-shadow: 0 -2px 5px rgba(109,109,109,0.3); }
.inner-box .inner-body-map.alignleft { margin: 0 35px 0 0; }
.inner-box .inner-body-map.alignright { margin: 0 0 0 35px; }
.inner-box .inner-body-map:before { content: ' '; position: absolute; left: 10px; bottom: 1px; height: 0; z-index: 1; width: 50%; box-shadow: 0 0 7px 6px rgba(0,0,0,0.3); background-color: rgba(0,0,0,0.3); }
.inner-box .inner-body-map:after { content: ' '; position: absolute; right: 10px; bottom: 1px; height: 0; z-index: 1; width: 50%; box-shadow: 0 0 7px 6px rgba(0,0,0,0.3); background-color: rgba(0,0,0,0.3); }
.inner-box .inner-body-map:before {
	-webkit-transform: rotate(-3deg);
			transform: rotate(-3deg);
}
.inner-box .inner-body-map:after {
	-webkit-transform: rotate(3deg);
			transform: rotate(3deg);
}
.inner-box .inner-body-map-group { border: 10px solid #ece2cf; height: 254px; background-color: #ccc; position: relative; z-index: 10; }
.inner-box .inner-body-image { width: 360px; text-align: center; }
.inner-box .inner-body-image .inner-group { max-width: 340px; margin: 0 auto; }
.inner-box .inner-body-image.alignleft { margin: 0 35px 0 0; }
.inner-box .inner-body-image.alignright { margin: 0 0 0 35px; }
.inner-box .inner-body-content { position: relative; overflow: hidden; }
.inner-box .inner-body-content blockquote { color: #ece2cf; font-size: 19px; line-height: 1.56; font-style: italic; font-family: $font-josefin-slab; font-weight: 600; }
.inner-box .inner-body-content blockquote strong { color: #fff; font-style: normal; }
.inner-box .inner-body-content h5 { line-height: 1.14; font-size: 19px; }
.inner-box .inner-body-content h6 { font-size: 14px; line-height: 1.79; }
.inner-box .inner-body-content h6 a { color: #acd4e4; }
.inner-box .inner-body-content-entry { width: 100%; }
.inner-box .inner-body-content-entry + .inner-body-content-form { padding-top: 40px; }
.inner-box .inner-body-content-form .form-inner { max-width: 100%; margin: 0; padding: 0;  }
.inner-box .inner-body-content-form .form-inner:before,
.inner-box .inner-body-content-form .form-inner:after,
.inner-box .inner-body-content-form .form-inner_wrapper:before,
.inner-box .inner-body-content-form .form-inner_wrapper:after { display: none; }
.inner-box .inner-body-content-form .form-inner .gform_body > ul { float: none; width: auto; }
.inner-box .inner-body-content-form .form-inner .gform_footer { position: relative; left: 0; bottom: 0; }
.inner-box .inner-body-content-form .form-inner .gform_footer input { float: right; }
.inner-box .inner-body-content-form .form-inner .gform_footer:after { content: ' '; display: table; clear: both; }
.inner-box .inner-body-content-form .form-inner .ginput_container input,
.inner-box .inner-body-content-form .form-inner .ginput_container textarea { box-shadow: 0 0 4px #645945; }
.inner-box .inner-image > .inner-group { border-color: #ece2cf; background-color: #ece2cf; }
.inner-box .inner-image-person > .inner-group > a span { padding: 17px 20px; }
.inner-box .inner-actions { text-align: center; padding-top: 25px; }
.inner-box .inner-image .inner-hover { position: absolute; }

	/*
		- Box Secondary
	*/

.inner-box-secondary .inner-body-content { padding-top: 40px; }
.inner-box-secondary .inner-body-image { padding-top: 40px; }

	/*
		- Box Small
	*/

.inner-box-small { width: 100%; position: relative; color: #fff; margin-bottom: 25px; }
.inner-box-small:last-child { margin-bottom: 0; }
.inner-box-small:before,
.inner-box-small:after { content: ' '; position: absolute; left: 50%; width: 452px; height: 60px; background: url(images/box-secondary.png) no-repeat 0 0; }
.inner-box-small:before { top: 0; background-position: 0 0; }
.inner-box-small:after { bottom: 0; background-position: 0 -70px; }
.inner-box-small:before,
.inner-box-small:after,
.inner-box-small > .inner-group:before {
	-webkit-transform: translate(-50%,0);
			transform: translate(-50%,0);
}
.inner-box-small > .inner-group { width: 100%; position: relative; padding: 50px 20px 70px 20px; }
.inner-box-small > .inner-group > * { position: relative; z-index: 10; }
.inner-box-small > .inner-group:before { content: ' '; position: absolute; left: 50%; top: 60px; bottom: 60px; width: 452px; z-index: 1; background: url(images/box-secondary.png) repeat-y -476px 0; }
.inner-box-small .inner-head { width: 100%; text-align: center; padding-bottom: 25px; }
.inner-box-small .inner-head h4 { font-weight: 400; text-transform: uppercase; font-size: 20px; line-height: 1.20; }
.inner-box-small .inner-head h4 strong { display: inline-block; vertical-align: top; padding: 0 74px; position: relative; font-weight: 400; }
/* .inner-box-small .inner-head h4 strong:before,
.inner-box-small .inner-head h4 strong:after { content: ' '; background: url(images/sprite.png) no-repeat 0 0; width: 56px; height: 26px; position: absolute; top: 50%; opacity: 0.50; }
.inner-box-small .inner-head h4 strong:before,
.inner-box-small .inner-head h4 strong:after {
	-webkit-transform: translate(0,-50%);
			transform: translate(0,-50%);
}
.inner-box-small .inner-head h4 strong:before { left: 0; background-position: -87px -382px; }
.inner-box-small .inner-head h4 strong:after { right: 0; background-position: -151px -382px; } */
.inner-box-small .inner-body { width: 100%; font-size: 15px; line-height: 1.60; }
.inner-box-small .inner-body blockquote { font-size: 22px; line-height: 1.09; font-family: $font-josefin-slab; font-weight: 600; font-style: italic; }
.inner-box-small .inner-body h6 { margin: 0; font-size: 15px; line-height: 1.60; }
.inner-box-small .inner-body ul { list-style: none; color: #c2bcaf; margin: 0; }
.inner-box-small .inner-body ul li { margin: 0; position: relative; padding: 0 0 0 10px; }
.inner-box-small .inner-body ul li:before { content: ' '; position: absolute; left: 0; top: 10px; width: 4px; height: 4px; background-color: #c2bcaf; border-radius: 50%; }

	/*
		- Box Extra Small
	*/

.inner-box-extra-small:before,
.inner-box-extra-small:after { width: 294px; height: 38px; background: url(images/box-tertiary.png) no-repeat 0 0; }
.inner-box-extra-small:before { background-position: 0 0; top: 0; }
.inner-box-extra-small:after { background-position: 0 -46px; bottom: 0; }
.inner-box-extra-small > .inner-group:before { width: 294px; top: 38px; bottom: 38px; background: url(images/box-tertiary.png) repeat-y -307px 0; }

	/*
		- Quote
	*/

.inner-quote { padding-top: 60px; position: relative; }
.inner-quote:before { content: '“”'; position: absolute; left: 0; right: 0; top: 20px; text-align: center; font-size: 84px; line-height: 1; color: #afa48e; font-family: $font-montserrat; font-weight: 700; }

.inner-quote p { font-size: 18px; line-height: 1.27; color: #ece2cf; font-family: $font-josefin-slab; font-weight: 600; font-style: italic; }
.inner-quote p strong { font-weight: 700; font-style: normal; color: #fff; font-size: 38px; }

	/*
		- Quote Secondary
	*/

.inner-quote-secondary { width: 100%; padding-top: 75px; position: relative; }
.inner-quote-secondary + .inner-quote-secondary { margin-top: 40px; }
.inner-quote-secondary:before { content: '“”'; position: absolute; left: 0; right: 0; top: 20px; text-align: center; font-size: 84px; line-height: 1; color: #afa48e; font-family: $font-montserrat; font-weight: 700; }
.inner-quote-secondary p { font-family: $font-josefin-slab; font-weight: 600; font-style: italic; }
.inner-quote-secondary .inner-body { font-size: 18px; line-height: 1.28; color: #363636; }
.inner-quote-secondary .inner-body-content { position: relative; overflow: hidden; position: relative; max-height: 0; }
.inner-quote-secondary .inner-body-excerpt { width: 100%; position: relative; overflow: hidden; max-height: 9999px; }
.inner-quote-secondary .inner-foot { width: 100%; position: relative; overflow: hidden; margin-top: 30px; }
.inner-quote-secondary .inner-foot p { float: left; margin: 0; padding: 4px 0; }
.inner-quote-secondary .inner-foot a { float: right; }
.inner-quote-secondary.active .inner-body-content { max-height: 9999px; }
.inner-quote-secondary.active .inner-body-excerpt { max-height: 0; }
.inner-quote-secondary.active .btn-plus:after { content: '-'; }
	/*
		- Video
	*/

.inner-video { position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0; }
.inner-video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* ------------------------------------------------------------ *\
	Responsive
\* ------------------------------------------------------------ */

$retina {
	.inner-image .inner-hover:before,
	.inner-image-ribbon > .inner-group > a:before,
	.inner-image-person .inner-group > a:before,
	.inner-box-small .inner-head h4 strong:before,
	.inner-box-small .inner-head h4 strong:after { background-image: url(images/sprite@2x.png); background-size: 350px 700px; }
}

$breakpoint-medium-desktop {

		/*
			- Box
		*/

	.inner-box:before,
	.inner-box:after { width: 900px; height: 42px; background-size: 1860px 93px; }
	.inner-box:after { background-position: 0 -51px; }
	.inner-box > .inner-group { max-width: 900px; margin: 0 auto; }
	.inner-box > .inner-group:before { background-size: 1860px 93px; background-position: -961px 1px; width: 900px; top: 42px; bottom: 42px; }
}

$breakpoint-tablet-portrait {

		/*
			- Image
		*/

	.inner-image:hover .inner-hover {
		-webkit-transform: translate(0,100%);
				transform: translate(0,100%);
	}
	.inner-image.hover .inner-hover {
		-webkit-transform: translate(0,0%);
				transform: translate(0,0%);
	}

		/*
			- Image
		*/

	.inner-image:hover {
		-webkit-transform: none;
				transform: none;
	}

		/*
			- Box
		*/

	.inner-box .inner-image { display: inline-block; }

		/*
			- Box Small
		*/

	.inner-box-small:before,
	.inner-box-small:after { width: 294px; height: 38px; background-size: 600px 84px; }
	.inner-box-small:after { background-position: 0 -46px; }
	.inner-box-small > .inner-group { max-width: 294px; margin: 0 auto; }
	.inner-box-small > .inner-group:before { width: 294px; top: 38px; bottom: 38px; background-size: 600px 84px; background-position: -307px 0; }
	.inner-box-small .inner-head h4 strong { padding: 35px 0 0 0; }
	.inner-box-small .inner-head h4 strong:before { top: 0; left: 50%; }
	.inner-box-small .inner-head h4 strong:after { top: 0; right: 50%; }
	.inner-box-small .inner-head h4 strong:before,
	.inner-box-small .inner-head h4 strong:after {
		-webkit-transform: none;
				transform: none;
	}
}

$breakpoint-tablet-landscape2 {

		/*
			- Box
		*/

	.inner-box:before,
	.inner-box:after { width: 677px; height: 32px; background-size: 1400px 70px; }
	.inner-box:after { background-position: 0 -38px; }
	.inner-box > .inner-group { max-width: 677px; margin: 0 auto; }
	.inner-box > .inner-group:before { background-size: 1400px 70px; background-position: -723px 1px; width: 677px; top: 32px; bottom: 32px; }
	.inner-box .inner-body-map.alignright,
	.inner-box .inner-body-map.alignleft { float: none; margin: 0 0 25px 0; width: 100%; }
	.inner-box .inner-body-image.alignright,
	.inner-box .inner-body-image.alignleft { float: none; margin: 0 0 25px 0; width: 100%; text-align: center; }
	.inner-box .inner-body-content-form .form-inner .gform_footer { text-align: center; }
	.inner-box .inner-body-content-form .form-inner .gform_footer input { float: none; }

		/*
			- Image
		*/

	.inner-image .inner-hover-wrap { font-size: 16px; }
}

$breakpoint-mobile {

		/*
			- Image
		*/

	.inner-image .inner-visible h4 { font-size: 14px; }

		/*
			- Box
		*/

	.inner-box:before,
	.inner-box:after { width: 314px; height: 15px; background-size: 650px 33px; }
	.inner-box:after { background-position: 0 -18px; }
	.inner-box > .inner-group { max-width: 314px; margin: 0 auto; }
	.inner-box > .inner-group:before { background-size: 650px 33px; background-position: -336px 1px; width: 314px; top: 15px; bottom: 15px; }
	.inner-box > .inner-group { padding: 25px 20px; }
	.inner-box .inner-head h2 strong { padding: 50px 0 0 0; }
	.inner-box .inner-head h2 strong:before { left: 50%; top: 0; }
	.inner-box .inner-head h2 strong:after { right: 50%; top: 0; }
	.inner-box .inner-head h2 strong:before,
	.inner-box .inner-head h2 strong:after {
		-webkit-transform: none;
				transform: none;
	}
	.inner-box .inner-image { float: none; }
	.inner-box .inner-body-content .btn + .btn { float: none; margin-top: 20px; }

		/*
			- Quote
		*/

	.inner-quote p { font-size: 14px; }
	.inner-quote p strong { font-size: 26px; }
}

$breakpoint-mobile-small {

		/*
			- Box
		*/

	.inner-box > .inner-group { padding: 25px 0; }
}