/* The agency that last worked on this project decided to put code directly into the bundle rather than abstracting it to a module and building it properly. */



.slider-gallery-secondary-1 .inner-image { max-width:100%; }
.slider-gallery-secondary-1 .inner-image #custom_slide { padding:0px; margin:0px; }
.slider-gallery-secondary-1 .inner-image #custom_slide li { padding:0px; list-style-type:none; }
.slider-gallery-secondary-1 .inner-image #custom_slide .owl-nav .owl-prev { width:45px; height:45px; line-height:45px; border-radius:50%; text-align:center; font-size:38px; color:#fff; background:rgba(0,0,0,.5); position:absolute; left:10px; top:50%; transform:translateY(-50%); z-index:999; }
.slider-gallery-secondary-1 .inner-image #custom_slide .owl-nav .owl-next{ width:45px; height:45px; line-height:45px; border-radius:50%; text-align:center; font-size:38px; color:#fff; background:rgba(0,0,0,.5);  right:10px; top:50%; transform:translateY(-50%); z-index:999; position:absolute; }
.slider-gallery-secondary-1 .inner-image #custom_slide .owl-nav button span { display: block; vertical-align: middle; position: relative; width: 45px;
height: 45px; line-height: 35px; }

.slider-intro-2 #custom_intro_slide { padding:0px; margin:0px; }
.slider-intro-2 #custom_intro_slide li { padding:0px; list-style-type:none; }
.slider-intro-2 #custom_intro_slide .owl-nav .owl-prev { width:45px; height:45px; line-height:45px; border-radius:50%; text-align:center; font-size:38px; color:#fff; background:rgba(0,0,0,.5); position:absolute; left:10px; top:50%; transform:translateY(-50%); z-index:999; }
.slider-intro-2 #custom_intro_slide .owl-nav .owl-next{ width:45px; height:45px; line-height:45px; border-radius:50%; text-align:center; font-size:38px; color:#fff; background:rgba(0,0,0,.5);  right:10px; top:50%; transform:translateY(-50%); z-index:999; position:absolute; }
.slider-intro-2 #custom_intro_slide .owl-nav button span { display: block; vertical-align: middle; position: relative; width: 45px;
height: 45px; line-height: 35px; }
.slider-intro-2 #custom_intro_slide .owl-stage { margin:auto; }

body {
    background: #FDF5E6 !important;
}

.header .nav {
  padding: 22px 0 0!important;
}

@media (max-width:1320px){
	.nav li a {
    padding: 0 6px 2px;
    font-size: 15px !important;
}
	.nav ul ul li {
    display: contents !important;
}
.nav li {
    padding: 0 10px 0px !important;

}
.nav .menu .sub-menu a {
    font-size: 14px;
}
}
@media (max-width:1135px){

.nav li a {
    padding: 0 6px 2px;
    font-size: 14px !important;
}
.nav li {
    padding: 0 5px 0px !important;

}
.nav .menu .sub-menu a {
    font-size: 10px;
}
}

@media (min-width:768px) and (max-width:920px) {
  .nav li a {
    padding: 0 0px 2px;
    font-size: 12px !important;
  }
}

.section-pattern-tertiary { background:#157122; }
.home .header {

    border-bottom: 3px solid transparent;
    border-bottom-color: #70716f;
    background-color: rgba(70,75,71,.85);
}
.nav .menu li a {
    font-size: 20px;
	font-weight:700;
}
.nav .menu .sub-menu a {
    font-size: 17px;
}
.cert h6 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.33;
    color: #868f87;
    margin-bottom: 30px;
}
.cert {
    padding: 60px 0;
}
.footer .footer-bar .shell {
    padding: 0px 0 0;
}
.section-pattern-secondary {
    background-color: #b1a082;
}


